.Rhistory
.RData
.pdf
.vscode
.[dD]ta
.docx
.png
.aux
.out
.json
.xlsx
.csv
.geojson
__pycache__/
.py[cod]
.OTTER_LOG
.zip
.html
.ipynb_checkpoints
*.dta
__pycache__/
.ipynb_checkpoints/
/venv/
*.log
